h1{
	margin: 0 auto 0 auto;
	width: 50%;
	text-align: center;
}

td{
	width: 100px;
	height: 100px;
}

table{
	margin: 100px auto 0 auto;
}
td:nth-of-type(2){
	border-style: solid;
	border-width: 2px;
	border-color: transparent black transparent black;
}

tr:nth-of-type(2) > td:nth-of-type(2n+1){
	border-style: solid;
	border-width: 2px;
	border-color: black transparent black transparent;
}
tr:nth-of-type(2) > td:nth-of-type(2){
	border-style: solid;
	border-width: 2px;
	border-color: black;
}