<% include partials/header%>
<h1>Friends list goes here !</h1>
<% friends.forEach(function(friend){ %>
    <li><%=friend%></li>
<% }); %>

<form action="/addFriend" method="POST">
    <input type="text" name="newFriend" placeholder="Friends Name goes here">
    <button>I made a new friend</button>
</form>

<% include partials/footer%>